{% extends 'main.html' %}
{% block content %}
{% load static %}


<style> 
		nav {background-image : url("/static/blue.jpg"); background-repeat: no-repeat; height: 45%; background-size: cover; padding-top: 170px;}
</style>


<div class="row ">
		<div class="w3-col w3-left l3 w3-padding-large">
			<img src= "{% static 'foto.jpg' %}" alt = "Picture can't be opened" width=90% height=90%>
		</div>
		<div class="w3-col w3-left l3 w3-padding-large">
			<br><br>
			<h class="w3-large">Hello!
				<br><br>
				It’s me, Rindu Salsabilla Chandra
				<br>
				Computer Science Student
				<br>
				University of Indonesia</h>
		</div>
		<div class="w3-col w3-left l2 w3-padding-large">
			<img src= "{% static 'line.png' %}" alt = "Picture can't be opened" width="100" height="256">
		</div>
		<div class="w3-col w3-left l3 w3-padding-large">
			<br><br>
			<h class="w3-large">I live in Diponegoro street no 71 Bekasi, Indonesia
				<br><br>
				email : salsabillarindu.rs@gmail.com
				<br><br>
				phone : 087781133465</h>
		</div>
</div>

<div align="right">
	<img src= "{% static 'Instagram.jpg' %}" alt = "Picture can't be opened" width="53" height="50">
	<img src= "{% static 'twitter.jpg' %}" alt = "Picture can't be opened" width="50" height="50">
	<img src= "{% static 'linkedin.jpg' %}" alt = "Picture can't be opened" width="35" height="35">
</div>

{% endblock content %}




