{% extends 'main.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="w3-col w3-left l1 w3-padding-large">
			<h>2017</h>
			<br><br>
		</div>
		<div class="w3-col w3-left l5 w3-padding-large">
			<h>CODING : Computer Science Gatherting
				<br> Head of Decoration
				<br><br>
				Open House Fasilkom
				<br> Staff of Public Relation
				<br><br>
				SBF Gathering
				<br> Project Officer
				<br><br>
				Education Day 1 Bekasi SHS
				<br>Head Of Partnership</h>
			<br><br>
		</div>
		<div class="w3-col w3-left l1 w3-padding-large">
			<h>2018</h>
			<br><br>
		</div>
		<div class="w3-col w3-left l5 w3-padding-large">
			<h>Wisuda Ganjil
				<br>Staff Of Event
				<br><br>
				RISTEK Fasilkom UI
				<br> Staff of Project Manager
				<br><br>
				COMPFEST X
				<br>Staff of Buisness IT Case
				<br><br>
				Wisuda Genap
				<br>Project Officer
				<br><br>
				Open House Fasilkom
				<br>Staff of LO
				<br><br>
				BEM Fasilkom UI
				<br>Staff of Human Resource Development</h>
			<br><br>
		</div>
	</div>
</div>

{% endblock %}