<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Profile</title>
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/indexx.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Acme|Pompiere" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>

<nav class="navbar navbar-default navbar-static-top hello">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'about' %}" style="color:#075078"><p class="w3-large" id="navrin"> About </p></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'skills' %}" style="color:#075078"> <p class="w3-large" id="navrin"> Skills </p> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'experience' %}" style="color:#075078"> <p class="w3-large" id="navrin"> Experience </p> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'registration' %}" style="color:#075078"> <p class="w3-large" id="navrin"> Registration </p> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'schedule' %}" style="color:#075078"> <p class="w3-large" id="navrin"> Schedule </p> </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'result' %}" style="color:#075078"> <p class="w3-large" id="navrin"> Activity </p> </a>
				</li>
			</ul>
		</div>
	</nav>

<body>

	{% block content %}


	{% endblock %}

	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>




