{% extends 'main.html' %}
{% block content %}

<div class="container">
        <form>
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label class="control-label" for="date">Birthday</label>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="date"/>
                </div>

                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                <br>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" class="form-control" placeholder="Enter username">
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <label>Password Confirmation:</label>
                    <input type="password" class="form-control" placeholder="Enter password confirmation">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                </div>
                </div>
        </form>
</div>


{% endblock content %}