{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h1 style="text-align: center">My Schedule</h1>
    <table class="table">
                <thead>
                    <th>Tanggal, Waktu</th>
                    <th>Kegiatan</th>
                    <th>Lokasi</th>
                    <th>Kategori</th>
                </thead>
                <tbody>
                    <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
                    {% for i in result %}
                    {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                    <tr class="warning"> {% else %} <tr class="success">
                        {% endif %}
                        <td> {{i.date}} </td>
                        <td> {{i.activity}} </td>
                        <td> {{i.location}} </td>
                        <td> {{i.category}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action={% url 'delete' %} method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
</div>

{% endblock content %}