{% extends 'main.html' %}
{% block content %}
	<div class="container">
        <div class="form">
            <h1>Fill your schedule</h1>
            <form action={% url 'post' %} method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock %}