{% extends 'main.html' %}
{% block content %}

	<div class="container">
		<br><br>
		<div class="row">
			<div class="w3-col w3-center l2">
				<h>Public Speaking</h>
			</div>
			<div class="w3-col l10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						<span class="sr-only">85% Complete</span>
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			<div class="w3-col w3-center l2">
				<h>English</h>
			</div>
			<div class="w3-col l10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						<span class="sr-only">70% Complete</span>
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			<div class="w3-col w3-center l2">
				<h>MC</h>
			</div>
			<div class="w3-col l10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						<span class="sr-only">90% Complete</span>
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			<div class="w3-col w3-center l2">
				<h>Guitar</h>
			</div>
			<div class="w3-col l10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			<div class="w3-col w3-center l2">
				<h>Corel Draw</h>
			</div>
			<div class="w3-col l10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			<div class="w3-col w3-center l2">
				<h>Giving Suggestion</h>
			</div>
			<div class="w3-col l10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						<span class="sr-only">90% Complete</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}